// getting started bg
.getting-started {
  background: image-url('mastodon-getting-started.png') no-repeat 50% 100%;
  background-size: 100%;
}
  
// logo
.landing-page .header .links .brand img {
  height: 80px;
}

// mascot
.landing-page .header-wrapper .mascot {
  bottom: -56px;
}

// rounded edges
$radius: 10px;

.drawer__header, .search__input, .drawer__inner, .column, .tabs-bar {
  border-radius: $radius;
}
.drawer__header {
  overflow: hidden;
}

// button with proper accent and disabled
.button {
  background-color: darken($accent, 3%);
  color: $white;

  &:hover, &:active, &:focus {
    background-color: lighten($accent, 7%);
  }

  &:disabled {
    background-color: $disabled;
  }
}

// column tweaks
.column-icon {
  //color: $prim3;
  background: none;

  &:hover {
    //color: lighten($prim3, 7%);
  }
}

@media screen and (min-width: 1025px) {
  // padding acommodates margins for columns in >1025px mode
  .column-icon-clear {
    padding: 5px;
  }

  // wider drawer
  .drawer {
    width: 22% !important;
    min-width: 330px !important;
    max-width: 450px !important;
  }
}

.column {
  // fullscreen
  flex-grow: 1 !important;
}

.notification__message {
  //color: $prim3;
}

/*.column-settings--section {
  color: $prim3;
}

.setting-toggle {
  color: $prim3;
}

.setting-text {
  color: $prim3;
  border-bottom: 2px solid $prim3;

  &:focus, &:active {
    color: $white;
    border-bottom-color: $accent;
  }
}*/

// fix column spacing in case of box shadow
@media screen and (min-width: 1025px) {
  .columns-area .column, .columns-area .drawer {
    padding: 0;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;

    &:first-child {
      padding: 0;
      margin-left: 10px;
    }

    &:last-child {
      padding: 0;
      margin-right: 10px;
    }
  }
  
  .column__wrapper .column {
    padding: 0 !important;
    margin-left: 5px;
    margin-right: 10px;
  }
}

// fix wonky verticalness on superwide screens
@media screen and (min-width: 2560px) {
  .column, .drawer {
    height: initial !important;
    margin-top: 10px !important;
  }
}

// fix overflow on drawer__inner for box shadow
.drawer__pager, .drawer__inner {
  overflow: visible;
  overflow-y: auto;
}

// secondary colors
.text-icon-button, .drawer .icon-button, .drawer .icon-button.inverted {
  color: $sec1;

  &:hover, &:active, &:focus {
    color: lighten($sec1, 26%);
  }

  &.disabled {
    color: lighten($sec1, 13%);
  }

  &.active {
    color: $sec3;
    text-shadow: 0px 0px 5px #000;
  }
}

.dropdown--active .icon-button {
  color: $accent;
}

.compose-form__warning {
  color: $sec3;
  border: 1px solid $sec2;

  strong {
    color: $white;
  }
}

.compose-form__modifiers {
  color: $sec1;
  background: $white;
}

.compose-form__buttons {
  background: darken($white, 8%);
  box-shadow: inset 0 5px 5px rgba($black, 0.05);
}

.compose-form__label {
  &.with-border {
    border-top: 1px solid $sec1;
  }

  .compose-form__label__text {
    color: $sec2;
  }
}

.compose-form__textarea, .follow-form__input {
  background: $white;

  &:disabled {
    background: $sec3;
  }
}

.navigation-bar {
  color: $sec3;

  strong {
    color: $white;
  }
}

.dropdown__sep {
  border-bottom: 1px solid darken($sec3, 8%);
}

.dropdown--active .dropdown__content {
  &:before {
    border-color: transparent transparent $sec3 transparent;
  }

  &.light {
    &:before {
      border-color: transparent transparent $white transparent;
    }
  }

  & > ul {
    background: $sec3;
    box-shadow: 0 0 15px rgba($black, 0.4);
  }

  & > ul > li > a {
    background: $sec3;
    color: $sec1;

    &:hover {
      background: $accent;
      color: $black;
    }
  }
}

.drawer__tab {
  color: $sec2;
  color: $sec3;
}

.drawer__inner {
  background: lighten($sec1, 13%);

  &.darker {
    background: $sec1;
  }
}

.pseudo-drawer {
  background: lighten($sec1, 13%);
}

.drawer__header {
  background: lighten($sec1, 8%);

  a {
    &:hover {
      background: lighten($sec1, 3%);
    }
  }
}

.tabs-bar {
  background: lighten($sec1, 8%);
}

.tabs-bar__link {
  color: $white;
  border-bottom: 2px solid lighten($sec1, 8%);

  &.active {
    border-bottom: 2px solid $accent;
    color: $accent;
  }

  &:hover, &:focus, &:active {
    background: lighten($sec1, 14%);
  }
}

.react-autosuggest__section-title {
  background: $sec2;
  color: $sec1;
}

.react-autosuggest__suggestions-list {
  background: $sec3;
  color: $sec1;
}

.react-autosuggest__suggestion--focused {
  background: $accent;
  color: $white;
}

.autosuggest-textarea__textarea, .spoiler-input__input {
  color: $sec1;
}

.autosuggest-textarea__suggestions {
  background: $sec3;
  color: $sec1;
}

.autosuggest-textarea__suggestions__item {
  &:hover {
    background: darken($sec3, 10%);
  }

  &.selected {
    background: $accent;
    color: $white;
  }
}

.emoji-dialog {
  .emoji-category-title {
    color: darken($sec3, 18%);
  }

  .emoji-search-wrapper {
    border-bottom: 1px solid lighten($sec3, 4%);
  }

  .emoji-search {
    background: rgba($sec3, 0.3);
    color: darken($sec3, 18%);
    border: 1px solid $sec3;
  }

  .emoji-row .emoji {
    &:hover {
      background: lighten($sec3, 3%);
    }
  }
}

.upload-area__content {
  border: 2px dashed lighten($sec1, 26%);
}

.upload-progress {
  color: lighten($sec1, 26%);
}

.upload-progress__backdrop {
  background: lighten($sec1, 26%);
}

.upload-progress__tracker {
  background: $accent;
}

.privacy-dropdown__option {
  color: $sec1;
}

.privacy-dropdown__option__content {
  color: darken($sec2, 24%);

  strong {
    color: $sec1;
  }
}

.search__input {
  background: $sec1;
  color: $sec3;

  &:focus {
    background: lighten($sec1, 4%);
  }
}

.search__icon {
  .fa {
    color: $sec3;
  }
}

.search-results__header {
  color: lighten($sec1, 26%);
  background: lighten($sec1, 2%);
  border-bottom: 1px solid darken($sec1, 4%);
}

.search-results__hashtag {
  color: $sec3;

  &:hover, &:active, &:focus {
    color: lighten($sec3, 4%);
  }
}

.drawer .account__display-name > span {
  color: $sec3;
}

.loading-bar {
  background-color: $accent;
}

// images
.getting-started {
  background: image-url('mastodon-getting-started.png') no-repeat 0 100% local;
}
