// Commonly used web colors
$black: #000000;            // Black
$white: #ffffff;            // White
$success-green: #79bd9a;    // Padua
$error-red: #df405a;        // Cerise
$warning-red: #ff5050;      // Sunset Orange
$gold-star: #ca8f04;        // Dark Goldenrod

// Values from the classic Mastodon UI
$classic-base-color: #282c37;         // Midnight Express
$classic-primary-color: #9baec8;      // Echo Blue
$classic-secondary-color: #d9e1e8;    // Pattens Blue
$classic-highlight-color: #2b90d9;    // Summer Sky

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$primary-text-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

//http://paletton.com/#uid=75c0G0kpM9vxD3cqW8nhUu3a-E+

// main
$accent:   #fa41e2 !default; // vibrant (accent)
$disabled: #ba82b2 !default; // vibrant (disabled)

// drawer
//$sec1: #0A3422 !default; // darkest green
//$sec2: #48A47D !default; // lighter green
//$sec3: #86C8AC !default; // lightest green
$sec1: #085539 !default; // darkest green
$sec2: #108158 !default; // lighter green
$sec3: #07e4b3 !default; // lightest green

// Tell UI to use selected colors
//<<<<<<< HEAD
//$ui-base-color: $classic-base-color !default;                  // Darkest
//$ui-primary-color: $classic-primary-color !default;            // Lighter
//$ui-secondary-color: $classic-secondary-color !default;        // Lightest
//$ui-highlight-color: $classic-highlight-color !default;        // Vibrant
//=======
//$ui-base-color: #3E0C26 !default;        // Darkest
//$ui-base-lighter-color: lighten($ui-base-color, 26%) !default; // Lighter darkest
//$ui-primary-color: #C3568F !default;     // Lighter
//$ui-secondary-color: #DF95BC !default;   // Lightest
$ui-highlight-color: $accent !default;   // Vibrant
//>>>>>>> 0551dd4
$ui-base-color: #2a0530 !default;        // Darkest
$ui-base-lighter-color: lighten($ui-base-color, 26%) !default; // Lighter darkest
$ui-primary-color: #732789 !default;     // Lighter
$ui-secondary-color: #d495df !default;   // Lightest
