/*
// bg and columns
$prim1: #4D1E38 !default; // darkest pink
$prim2: #6C1044 !default; // lighter pink
$prim3: #C45493 !default; // lightest pink

// drawer
$sec1: #475922 !default; // darkest green
$sec2: #5B7D12 !default; // lighter green
$sec3: #B9E562 !default; // lightest green
*/

/*
$color1: #282c37 !default; // darkest
$color2: #d9e1e8 !default; // lightest
$color3: #9baec8 !default; // lighter
*/

//http://paletton.com/#uid=75c0G0kpM9vxD3cqW8nhUu3a-E+

// bg and columns
$prim1: #3E0C26 !default; // darkest pink
$prim2: #C3568F !default; // lighter pink
$prim3: #DF95BC !default; // lightest pink

// drawer
$sec1: #0A3422 !default; // darkest green
$sec2: #48A47D !default; // lighter green
$sec3: #86C8AC !default; // lightest green

// main
$accent:   #fa41e2 !default; // vibrant (accent)
$disabled: #ba82b2 !default; // vibrant (disabled)

// legacy
$color1: $prim1;  // darkest pink
$color2: $prim3;  // lightest pink
$color3: $prim2;  // lighter pink
$color4: $accent; // vibrant (accent)
$color5: #fff !default;     // white
$color6: #df405a !default;  // error red
$color7: #79bd9a !default;  // succ green
$color8: #000 !default;     // black
